<br>
<br>
<div>
    <h3 class="display-6 text-center bg-light text-dark p-3 mb-2">Employee's Details</h3>
</div>
<br>
<br>
<br>
<div class="row justify-content-center">
    <div class="col-sm-3">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{employee.name}}</div>
            <div class="card-body">
                <h5 class="card-title">{{employee.email}}</h5>
                <p class="card-text">{{employee.contact}}</p>
            </div>
        </div>
    </div>
</div>